In [646]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from nltk.corpus import stopwords
from textblob import TextBlob
from nltk.tokenize import word_tokenize
from textblob import Word
credits_a = pd.read_csv('credits.csv')
titles_a = pd.read_csv('titles.csv')

In [647]:
titles_a.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],NaN,tt0039628,7.9,50969.0,23.515,7.388
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500
2,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],NaN,tt0042332,7.3,164292.0,93.547,7.035
3,tm87946,Dumbo,MOVIE,Dumbo is a baby elephant born with over-sized ...,1941,G,64,"['animation', 'drama', 'family', 'fantasy']",['US'],NaN,tt0033563,7.2,135045.0,54.265,6.999
4,tm74391,Fantasia,MOVIE,Walt Disney's timeless masterpiece is an extra...,1941,G,119,"['animation', 'family', 'fantasy', 'music']",['US'],NaN,tt0032455,7.7,98764.0,43.609,7.382

In [648]:
credits_a.head()

   person_id       id            name         character   role
0      35549  tm89464  Maureen O'Hara      Doris Walker  ACTOR
1      57832  tm89464      John Payne       Fred Gailey  ACTOR
2      57833  tm89464    Edmund Gwenn      Kris Kringle  ACTOR
3      25096  tm89464    Natalie Wood      Susan Walker  ACTOR
4      27185  tm89464     Porter Hall  Granville Sawyer  ACTOR

In [649]:
set(credits_a.role)

{'ACTOR', 'DIRECTOR'}

In [650]:
director_a = credits_a[credits_a['role'] == 'DIRECTOR']

In [651]:
director_a = director_a[['id','name']]

In [652]:
director_a

              id                 name
65       tm89464        George Seaton
79       tm61729          James Algar
80       tm61729       Clyde Geronimi
81       tm61729          Jack Kinney
105      tm61052      Wilfred Jackson
...          ...                  ...
30674  tm1314337       Brendan Walter
30675  tm1314337       Jacob Bixenman
30680  tm1299578  William Pinkney III
30687  tm1075680         Kevin Bachar
30688  tm1227149          Adam Geiger

[1567 rows x 2 columns]

In [653]:
merged_a = pd.merge(titles_a, director_a, on = 'id')

In [654]:
merged_a = merged_a.rename(columns={'name': 'director'})

In [655]:
merged_a

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],NaN,tt0039628,7.9,50969.0,23.515,7.388,George Seaton
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,James Algar
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],NaN,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],NaN,tt27001634,NaN,NaN,10.543,10.000,Brendan Walter
1563,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],NaN,tt27001634,NaN,NaN,10.543,10.000,Jacob Bixenman
1564,tm1299578,Black Travel Across America,MOVIE,"Travel Consultant, Martinique Lewis, embarks o...",2023,PG,44,['documentation'],['US'],NaN,NaN,NaN,NaN,5.600,NaN,William Pinkney III
1565,tm1075680,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN,Kevin Bachar
1566,tm1227149,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],NaN,tt21271008,6.3,19.0,1.501,2.000,Adam Geiger

In [656]:
stopslist = []
for x in stopwords.fileids():
    stopslist.append(stopwords.words(x))

merged_a['description'] = merged_a['description'].astype(str)

merged_a['Tokens'] = merged_a['description'].apply(word_tokenize)

In [657]:




merged_a['subjectivity'] = merged_a.apply(lambda x: TextBlob(x['description']).sentiment.subjectivity, axis=1)
merged_a['polarity'] = merged_a.apply(lambda x: TextBlob(x['description']).sentiment.polarity, axis=1)

In [658]:
merged_a

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director,Tokens,subjectivity,polarity
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],NaN,tt0039628,7.9,50969.0,23.515,7.388,George Seaton,"[Kris, Kringle, ,, seemingly, the, embodiment,...",0.286667,0.090000
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,James Algar,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],NaN,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson,"[Cinderella, has, faith, her, dreams, of, a, b...",0.733069,0.134656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],NaN,tt27001634,NaN,NaN,10.543,10.000,Brendan Walter,"[Miley, Cyrus, takes, the, stage, in, this, mu...",0.388909,0.034273
1563,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],NaN,tt27001634,NaN,NaN,10.543,10.000,Jacob Bixenman,"[Miley, Cyrus, takes, the, stage, in, this, mu...",0.388909,0.034273
1564,tm1299578,Black Travel Across America,MOVIE,"Travel Consultant, Martinique Lewis, embarks o...",2023,PG,44,['documentation'],['US'],NaN,NaN,NaN,NaN,5.600,NaN,William Pinkney III,"[Travel, Consultant, ,, Martinique, Lewis, ,, ...",0.258333,-0.041667
1565,tm1075680,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN,Kevin Bachar,"[The, Great, White, has, a, scary, reputation,...",0.526531,0.069388
1566,tm1227149,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],NaN,tt21271008,6.3,19.0,1.501,2.000,Adam Geiger,"[Even, the, biggest, ,, fastest, and, fiercest...",0.620000,0.260000

In [659]:
print(merged_a.type.unique())
print('\n')
print(merged_a.tmdb_score.unique())
print('\n')

['MOVIE' 'SHOW']


[ 7.388  6.5    7.035  6.999  7.382  7.004  7.11   6.686  6.567  6.733
  7.1    6.713  6.377  6.7    5.876  6.341  6.269  6.846  7.3    7.32
  6.568  6.952  6.489  7.351  7.208  6.3    6.563  6.158  6.81   6.4
  7.     6.583  6.636  6.25   7.298  6.227  6.464  6.012  6.9    6.393
  6.783  6.35   6.1    6.429  6.789  6.559  6.34   6.61   6.982  6.22
  6.283  6.541  7.034  6.811  6.128  5.4    5.927  6.718  5.924  6.382
  5.99   5.955  6.8    6.682  6.     6.821  6.2    8.207  7.706  8.393
  7.569  6.847  7.133  7.008  7.28   6.6    5.813  6.178  6.146  7.166
  7.104  7.225  7.2    6.907  6.029  7.29   5.9    6.364  7.065  7.6
  6.65   6.524  6.581  7.112  6.423  6.533  8.5    5.241  5.967  5.732
  6.475  6.676  6.925  5.655  7.19   6.177  5.6    7.4    6.538  5.81
  6.515  5.2    6.738  6.607  6.522  7.7    7.352  5.778  6.421  8.
  6.714 10.     8.2    4.     9.     7.5    7.403  7.51   7.038  7.89
  7.663  6.71   6.917  6.868  6.254  6.274  6.47   6.805  5.3    6.185
  5.799  7.142  5.8    6.948  5.316  6.575  7.068  7.085  6.191  5.7
  7.56   7.371  7.839  6.947  7.062  6.865  6.451  6.446  8.258  6.551
  7.605  7.966  6.18   7.583  5.284  6.234  7.016  7.74   7.918  6.951
  7.546  7.645  6.565  7.398  7.508  5.69   6.934  6.964  6.822  5.445
  7.731  6.155  6.381  5.896  6.976  5.932  6.066  5.635  5.753  5.283
  6.263  6.201  6.476  7.492  5.1    6.528  4.183  6.38   6.195  5.531
  5.477  5.476  4.456  7.721  5.97   5.87   4.439  4.953  4.9    7.418
  6.243  6.437  5.688  4.8    6.654  5.342  5.446  5.68   6.27   6.019
  7.059  4.4    5.5    5.513  5.867  6.456  5.519  7.38   7.567  8.07
  7.783  6.595  7.795  7.943  7.632  6.802  7.075  7.827  7.119  5.919
  7.824  5.484  6.829  6.306  7.424  6.302  6.939  5.586  6.831  7.337
  7.526  6.439  6.403  7.228  7.237  5.771  7.8    6.199  7.34   6.87
  5.623  6.995  6.672  4.474  5.178  7.022  7.501  6.315  6.617  6.115
  6.482  6.273  6.256  6.573  6.136  6.129  6.241  4.09   5.447  6.169
  7.242  6.12   6.441  6.113  6.53   6.317  6.74   7.236  6.484  5.564
  5.365  5.537  5.472  6.649  6.372  7.02   6.753  5.471  7.254  6.691
  8.1    6.662  6.984  4.413  6.058  6.715  5.906  5.767  5.645  6.398
  7.017  6.194  6.788  7.561  7.729  6.744  5.602  6.605  6.304  6.499
  6.546  7.523  6.58   6.49   6.068  6.89   6.531  5.354  6.104  6.255
  6.231  6.002  6.386  6.33   7.833  5.811  5.728  5.935  6.192  7.284
  5.179  6.264  5.742  5.73   5.288  5.983  5.642  6.122  5.971  4.988
  3.6    6.542    nan  7.707  6.739  6.938  6.767  6.988  6.268  7.557
  5.963  7.006  6.653  6.047  6.494  6.28   6.902  8.173  5.847  5.827
  8.006  6.665  7.379  7.167  6.935  6.648  6.039  6.586  6.21   6.968
  7.459  7.866  6.056  6.131  6.153  6.15   6.919  7.003  8.3    7.9
  6.391  7.677  7.25   6.927  7.206  7.741  7.276  7.028  8.545  7.347
  6.885  7.043  7.353  6.933  6.465  6.769  8.057  7.602  7.01   6.804
  7.084  7.925  7.746  7.565  7.438  7.281  7.311  4.414  7.522  7.253
  7.044  6.857  6.741  7.056  7.697  6.516  6.024  8.172  7.937  8.4
  7.149  8.167  5.     8.7    7.815  7.393  7.494  7.601  8.225  6.077
  7.862  7.914  8.6    7.491  6.646  7.214  5.102  7.03   7.333  7.584
  7.639  8.188  8.268  8.233  8.161  6.871  7.669  8.232  7.752  7.131
  2.     6.658  8.299  6.396  6.918  7.345  7.779  7.652  7.297  6.884
  6.661  7.215  4.5    8.036  7.285  9.5    7.229  6.895  7.49   7.589
  6.625  6.875  7.401  7.487  6.94   6.51   7.324  7.873  7.578  7.132
  7.362  7.07   6.75   6.987  7.545  7.651  7.464  7.69   5.011  7.257
  7.121  7.936  6.463  3.8    5.167  3.1    7.343  7.221  6.287  6.711
  6.053  7.876  7.219  5.75   7.656  7.81   4.7    6.983  5.818  7.313
  7.512  6.438  9.2    5.389  8.227  6.913  4.75   4.3    4.6  ]

In [660]:
print(merged_a['director'].value_counts)
print('\n')

<bound method IndexOpsMixin.value_counts of 0             George Seaton
1               James Algar
2            Clyde Geronimi
3               Jack Kinney
4           Wilfred Jackson
               ...
1562         Brendan Walter
1563         Jacob Bixenman
1564    William Pinkney III
1565           Kevin Bachar
1566            Adam Geiger
Name: director, Length: 1567, dtype: object>

In [661]:
print(merged_a.director.value_counts(normalize = True))
print('\n')

Wilfred Jackson        0.014040
John Lasseter          0.010849
Jack Hannah            0.010849
Paul Hoen              0.010211
Clyde Geronimi         0.009572
                         ...
Manny Coto             0.000638
Bruce W. Smith         0.000638
Eric Bross             0.000638
Michael Lange          0.000638
William Pinkney III    0.000638
Name: director, Length: 899, dtype: float64

In [662]:
#replace null values in the seasons column with 0
print(merged_a.seasons.unique())

[nan  6.  3.  1.  2.  4.]

In [663]:
merged_a.loc[merged_a['seasons'].isnull(), 'seasons'] = 0


print(merged_a.seasons.unique())

print(merged_a.seasons.value_counts())

[0. 6. 3. 1. 2. 4.]
0.0    1475
1.0      66
3.0      12
2.0      10
6.0       2
4.0       2
Name: seasons, dtype: int64

In [664]:
merged_a.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director,Tokens,subjectivity,polarity
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],0.0,tt0039628,7.9,50969.0,23.515,7.388,George Seaton,"[Kris, Kringle, ,, seemingly, the, embodiment,...",0.286667,0.090000
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,James Algar,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],0.0,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson,"[Cinderella, has, faith, her, dreams, of, a, b...",0.733069,0.134656

In [665]:
print(merged_a.age_certification.unique())

print(merged_a.title.unique())

['G' nan 'PG' 'PG-13' 'TV-G' 'TV-Y7' 'TV-Y' 'TV-PG' 'R' 'TV-14']
['Miracle on 34th Street' 'The Adventures of Ichabod and Mr. Toad'
 'Cinderella' ... 'Black Travel Across America'
 "World's Most Dangerous Shark?" 'Baby Sharks']

In [666]:
merged_a.loc[merged_a['age_certification'].isnull(), 'age_certification'] = 'UNRATED'

print(merged_a.age_certification.unique())

['G' 'UNRATED' 'PG' 'PG-13' 'TV-G' 'TV-Y7' 'TV-Y' 'TV-PG' 'R' 'TV-14']

In [667]:
print(merged_a.tmdb_score.unique())
print('\n', merged_a.tmdb_score.isnull().sum())

[ 7.388  6.5    7.035  6.999  7.382  7.004  7.11   6.686  6.567  6.733
  7.1    6.713  6.377  6.7    5.876  6.341  6.269  6.846  7.3    7.32
  6.568  6.952  6.489  7.351  7.208  6.3    6.563  6.158  6.81   6.4
  7.     6.583  6.636  6.25   7.298  6.227  6.464  6.012  6.9    6.393
  6.783  6.35   6.1    6.429  6.789  6.559  6.34   6.61   6.982  6.22
  6.283  6.541  7.034  6.811  6.128  5.4    5.927  6.718  5.924  6.382
  5.99   5.955  6.8    6.682  6.     6.821  6.2    8.207  7.706  8.393
  7.569  6.847  7.133  7.008  7.28   6.6    5.813  6.178  6.146  7.166
  7.104  7.225  7.2    6.907  6.029  7.29   5.9    6.364  7.065  7.6
  6.65   6.524  6.581  7.112  6.423  6.533  8.5    5.241  5.967  5.732
  6.475  6.676  6.925  5.655  7.19   6.177  5.6    7.4    6.538  5.81
  6.515  5.2    6.738  6.607  6.522  7.7    7.352  5.778  6.421  8.
  6.714 10.     8.2    4.     9.     7.5    7.403  7.51   7.038  7.89
  7.663  6.71   6.917  6.868  6.254  6.274  6.47   6.805  5.3    6.185
  5.799  7.142  5.8    6.948  5.316  6.575  7.068  7.085  6.191  5.7
  7.56   7.371  7.839  6.947  7.062  6.865  6.451  6.446  8.258  6.551
  7.605  7.966  6.18   7.583  5.284  6.234  7.016  7.74   7.918  6.951
  7.546  7.645  6.565  7.398  7.508  5.69   6.934  6.964  6.822  5.445
  7.731  6.155  6.381  5.896  6.976  5.932  6.066  5.635  5.753  5.283
  6.263  6.201  6.476  7.492  5.1    6.528  4.183  6.38   6.195  5.531
  5.477  5.476  4.456  7.721  5.97   5.87   4.439  4.953  4.9    7.418
  6.243  6.437  5.688  4.8    6.654  5.342  5.446  5.68   6.27   6.019
  7.059  4.4    5.5    5.513  5.867  6.456  5.519  7.38   7.567  8.07
  7.783  6.595  7.795  7.943  7.632  6.802  7.075  7.827  7.119  5.919
  7.824  5.484  6.829  6.306  7.424  6.302  6.939  5.586  6.831  7.337
  7.526  6.439  6.403  7.228  7.237  5.771  7.8    6.199  7.34   6.87
  5.623  6.995  6.672  4.474  5.178  7.022  7.501  6.315  6.617  6.115
  6.482  6.273  6.256  6.573  6.136  6.129  6.241  4.09   5.447  6.169
  7.242  6.12   6.441  6.113  6.53   6.317  6.74   7.236  6.484  5.564
  5.365  5.537  5.472  6.649  6.372  7.02   6.753  5.471  7.254  6.691
  8.1    6.662  6.984  4.413  6.058  6.715  5.906  5.767  5.645  6.398
  7.017  6.194  6.788  7.561  7.729  6.744  5.602  6.605  6.304  6.499
  6.546  7.523  6.58   6.49   6.068  6.89   6.531  5.354  6.104  6.255
  6.231  6.002  6.386  6.33   7.833  5.811  5.728  5.935  6.192  7.284
  5.179  6.264  5.742  5.73   5.288  5.983  5.642  6.122  5.971  4.988
  3.6    6.542    nan  7.707  6.739  6.938  6.767  6.988  6.268  7.557
  5.963  7.006  6.653  6.047  6.494  6.28   6.902  8.173  5.847  5.827
  8.006  6.665  7.379  7.167  6.935  6.648  6.039  6.586  6.21   6.968
  7.459  7.866  6.056  6.131  6.153  6.15   6.919  7.003  8.3    7.9
  6.391  7.677  7.25   6.927  7.206  7.741  7.276  7.028  8.545  7.347
  6.885  7.043  7.353  6.933  6.465  6.769  8.057  7.602  7.01   6.804
  7.084  7.925  7.746  7.565  7.438  7.281  7.311  4.414  7.522  7.253
  7.044  6.857  6.741  7.056  7.697  6.516  6.024  8.172  7.937  8.4
  7.149  8.167  5.     8.7    7.815  7.393  7.494  7.601  8.225  6.077
  7.862  7.914  8.6    7.491  6.646  7.214  5.102  7.03   7.333  7.584
  7.639  8.188  8.268  8.233  8.161  6.871  7.669  8.232  7.752  7.131
  2.     6.658  8.299  6.396  6.918  7.345  7.779  7.652  7.297  6.884
  6.661  7.215  4.5    8.036  7.285  9.5    7.229  6.895  7.49   7.589
  6.625  6.875  7.401  7.487  6.94   6.51   7.324  7.873  7.578  7.132
  7.362  7.07   6.75   6.987  7.545  7.651  7.464  7.69   5.011  7.257
  7.121  7.936  6.463  3.8    5.167  3.1    7.343  7.221  6.287  6.711
  6.053  7.876  7.219  5.75   7.656  7.81   4.7    6.983  5.818  7.313
  7.512  6.438  9.2    5.389  8.227  6.913  4.75   4.3    4.6  ]

 46

In [668]:
for index,value in merged_a['tmdb_score'].items():
    if pd.isnull(value):
        merged_a = merged_a.drop(index)

In [669]:
print('\n', merged_a.tmdb_score.isnull().sum())

 0

In [670]:
merged_a

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director,Tokens,subjectivity,polarity
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],0.0,tt0039628,7.9,50969.0,23.515,7.388,George Seaton,"[Kris, Kringle, ,, seemingly, the, embodiment,...",0.286667,0.090000
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,James Algar,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],0.0,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson,"[Cinderella, has, faith, her, dreams, of, a, b...",0.733069,0.134656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,tm1304158,Soul of a Nation Presents: Black in Vegas,MOVIE,This special explores the history of Black ent...,2023,PG-13,41,['documentation'],['US'],0.0,NaN,NaN,NaN,2.954,2.000,Tine,"[This, special, explores, the, history, of, Bl...",0.334921,0.063492
1561,tm24952,Whispers: An Elephant's Tale,MOVIE,A nameless baby elephant-steer was just gettin...,2023,G,72,"['drama', 'family']",['US'],0.0,tt0185007,5.0,390.0,4.271,4.600,Dereck Joubert,"[A, nameless, baby, elephant-steer, was, just,...",0.613292,-0.146694
1562,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],0.0,tt27001634,NaN,NaN,10.543,10.000,Brendan Walter,"[Miley, Cyrus, takes, the, stage, in, this, mu...",0.388909,0.034273
1563,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],0.0,tt27001634,NaN,NaN,10.543,10.000,Jacob Bixenman,"[Miley, Cyrus, takes, the, stage, in, this, mu...",0.388909,0.034273
1566,tm1227149,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],0.0,tt21271008,6.3,19.0,1.501,2.000,Adam Geiger,"[Even, the, biggest, ,, fastest, and, fiercest...",0.620000,0.260000

In [671]:
print(merged_a.release_year.unique())

[1947 1950 1941 1942 1938 1935 1937 1940 1948 1943 1945 1933 1928 1934
 1932 1939 1936 1949 1946 1944 1977 1965 1980 1971 1964 1979 1960 1953
 1969 1967 1956 1973 1961 1955 1963 1970 1951 1962 1966 1974 1975 1978
 1957 1958 1976 1968 1952 1959 1954 1972 1987 1988 1990 1983 1985 1989
 1986 1982 1984 1981 1999 1998 1993 1995 1994 1992 1991 1996 2000 1997
 2009 2008 2003 2004 2007 2001 2005 2006 2002 2010 2012 2011 2014 2013
 2016 2015 2017 2018 2019 2020 2022 2021 2023]

In [672]:
print(merged_a.age_certification.unique())

def rate(x):
    if x == 'UNRATED':
        return 0
    elif x == 'G':
        return 1
    elif x == 'PG':
        return 2
    elif x == 'PG-13':
        return 3
    elif x == 'R':
        return 4
    elif x == 'TV-G':
        return 5
    elif x == 'TV-Y7':
        return 6
    elif x == 'TV-Y':
        return 7
    elif x == 'TV-PG':
        return 8
    return 9


merged_a['age_rating'] = merged_a['age_certification'].apply(rate)

['G' 'UNRATED' 'PG' 'PG-13' 'TV-G' 'TV-Y7' 'TV-Y' 'TV-PG' 'R' 'TV-14']

In [673]:
merged_a

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director,Tokens,subjectivity,polarity,age_rating
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],0.0,tt0039628,7.9,50969.0,23.515,7.388,George Seaton,"[Kris, Kringle, ,, seemingly, the, embodiment,...",0.286667,0.090000,1
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,James Algar,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864,1
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864,1
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney,"[The, Wind, in, the, Willows, :, Concise, vers...",0.556469,0.098864,1
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],0.0,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson,"[Cinderella, has, faith, her, dreams, of, a, b...",0.733069,0.134656,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,tm1304158,Soul of a Nation Presents: Black in Vegas,MOVIE,This special explores the history of Black ent...,2023,PG-13,41,['documentation'],['US'],0.0,NaN,NaN,NaN,2.954,2.000,Tine,"[This, special, explores, the, history, of, Bl...",0.334921,0.063492,3
1561,tm24952,Whispers: An Elephant's Tale,MOVIE,A nameless baby elephant-steer was just gettin...,2023,G,72,"['drama', 'family']",['US'],0.0,tt0185007,5.0,390.0,4.271,4.600,Dereck Joubert,"[A, nameless, baby, elephant-steer, was, just,...",0.613292,-0.146694,1
1562,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],0.0,tt27001634,NaN,NaN,10.543,10.000,Brendan Walter,"[Miley, Cyrus, takes, the, stage, in, this, mu...",0.388909,0.034273,3
1563,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],0.0,tt27001634,NaN,NaN,10.543,10.000,Jacob Bixenman,"[Miley, Cyrus, takes, the, stage, in, this, mu...",0.388909,0.034273,3
1566,tm1227149,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],0.0,tt21271008,6.3,19.0,1.501,2.000,Adam Geiger,"[Even, the, biggest, ,, fastest, and, fiercest...",0.620000,0.260000,2

In [674]:
#The data is now cleaned up. Next is to predict the rising star directors
#each year 100 individuals have the highest tmdb score and produce the most popular works on tmdb
#using KNN, Multilinear Regression, and random forest

In [675]:
#Linear Regression - Independent variables are Year, Runtime, Seasons, rating, tmdb_popularity
#the dependent variable is tmdb_score

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
from dmba import plotDecisionTree
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np


X = merged_a[['release_year','runtime','seasons','tmdb_popularity','age_rating', 'subjectivity', 'polarity']]
y = merged_a['tmdb_score']

X.head()

,release_year,runtime,seasons,tmdb_popularity,age_rating,subjectivity,polarity
0,1947,96,0.0,23.515,1,0.286667,0.090000
1,1950,68,0.0,16.194,1,0.556469,0.098864
2,1950,68,0.0,16.194,1,0.556469,0.098864
3,1950,68,0.0,16.194,1,0.556469,0.098864
4,1950,74,0.0,93.547,1,0.733069,0.134656

In [676]:
#multilinear regression

training_X, test_X, training_y, test_y = train_test_split(X,y, test_size = 0.20, random_state = 1)

regr = LinearRegression()
regr.fit(training_X, training_y) 

y_trainpred = regr.predict(training_X)
y_pred = regr.predict(test_X)
#print(y_pred, '\n')

director = merged_a.loc[merged_a['director'] == 'George Seaton']
features = director[['release_year','runtime','seasons','tmdb_popularity','age_rating','subjectivity', 'polarity']]
mlr_pred = regr.predict(features)

mse = mean_squared_error(test_y, y_pred)
print("Mean squared error: ", mse)

print("Rating Prediction: ", mlr_pred)

Mean squared error:  0.9314764841010988
Rating Prediction:  [6.82662542]

In [677]:
#Decision Tree
from sklearn.tree import DecisionTreeRegressor
DTR = DecisionTreeRegressor().fit(training_X, training_y)
DTRtrainpred = DTR.predict(training_X)
DTRtestpred = DTR.predict(test_X)
#print(DTRtestpred, '\n')
director = merged_a.loc[merged_a['director'] == 'George Seaton']
features2 = director[['release_year','runtime','seasons','tmdb_popularity','age_rating','subjectivity', 'polarity']]
mlr_pred2 = DTR.predict(features2)

mse = mean_squared_error(test_y, DTRtestpred)
print("Mean squared error: ", mse)

print("Rating Prediction: ", mlr_pred2)

Mean squared error:  1.1663675409836067
Rating Prediction:  [7.388]

In [678]:
#Random Forest

RF = RandomForestRegressor(n_estimators = 10, random_state = 1)
RFR = RF.fit(training_X, training_y)
RFRtrainpred = RFR.predict(training_X)
RFRtestpred = RFR.predict(test_X)
#print(RFRtestpred, '\n')
director = merged_a.loc[merged_a['director'] == 'George Seaton']
features3 = director[['release_year','runtime','seasons','tmdb_popularity','age_rating','subjectivity', 'polarity']]
mlr_pred3 = RFR.predict(features3)

mse = mean_squared_error(test_y, RFRtestpred)
print("Mean squared error: ", mse)

print("Rating Prediction: ", mlr_pred3)

Mean squared error:  0.6868640860327869
Rating Prediction:  [6.969]

In [679]:

from xgboost import XGBRegressor
from sklearn.datasets import load_boston
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

training_X, test_X, training_y, test_y = train_test_split(X,y, test_size = 0.25, random_state = 1)

xgbr = XGBRegressor(verbosity = 0)
print(xgbr)

xgbr.fit(training_X, training_y)
score = xgbr.score(training_X, training_y)
print("training score: ", score)

ypredict = xgbr.predict(test_X)
ytrain_predict = xgbr.predict(training_X)

features4 = director[['release_year','runtime','seasons','tmdb_popularity','age_rating','subjectivity', 'polarity']]
mlr_pred4 = xgbr.predict(features)

mse = mean_squared_error(test_y, ypredict)
print("Mean squared error: ", mse)

print("Rating Prediction: ", mlr_pred4)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)
training score:  0.9927773533376258
Mean squared error:  0.6963763492566329
Rating Prediction:  [7.3513236]

In [680]:
#Random Forest In Practice
director2 = merged_a.loc[merged_a['director'] == 'Wilfred Jackson']
features2 = director2[['release_year','runtime','seasons','tmdb_popularity','age_rating','subjectivity', 'polarity']]

#print(features2)
mlr_prediction = RFR.predict(features2)

print("Rating Prediction: ", mlr_prediction)

Rating Prediction:  [7.035  6.999  7.382  6.7525 7.1    5.876  6.2231 6.6134 6.5264 7.2648
 7.0689 6.451  6.4369 6.4    6.3217 6.1006 5.9346 7.1161 7.225  7.257
 9.8    9.4   ]

In [681]:
def random_stats(df):
    di_year = df['release_year'].max()
    di_age = np.random.uniform(low=df['age_rating'].max(), high=df['age_rating'].min())
    di_pop = np.random.uniform(low=df['tmdb_popularity'].max(), high=df['tmdb_popularity'].min())
    di_seas = np.random.uniform(low=df['seasons'].max(), high=df['seasons'].min())
    di_run = np.random.uniform(low=df['runtime'].max(), high=df['runtime'].min())
    di_sub = np.random.uniform(low=df['subjectivity'].max(), high=df['subjectivity'].min())
    di_pol = np.random.uniform(low=df['polarity'].max(), high=df['polarity'].min())
    di_list = [di_run, di_seas, di_pop, di_age, di_sub, di_pol]
    return di_list

In [697]:
def year_pred (time, person):
    director2 = merged_a.loc[merged_a['director'] == person]
    time_list = []
    result_df = pd.DataFrame(columns=['runtime', 'seasons', 'tmdb_popularity', 'age_rating', 'subjectivity', 'polarity'])
    #X = random_stats(director2)
    for _ in range(time):
        stats = random_stats(director2)
        time_list.append(stats)
    result_df = pd.DataFrame(time_list)
    result_df.insert(0, 'release_year', range(2021, 2021 + len(result_df)))
    return result_df

In [698]:
def pred_years(df):
  
    randomfor = RFR.predict(result_df)
    features2 = director2[['release_year','runtime','seasons','tmdb_popularity','age_rating','subjectivity', 'polarity']]
    mlr_prediction = RFR.predict(features2)

    #multi_year = pd.DataFrame(columns = [str(i) for i in range(2021, 2021 + time)] )
    #multi_year = pd.DataFrame({str(i): [randomfor[i]] for i in range(len(randomfor))})
    #new_row = np.array(randomfor)
    #multi_year.loc[len(multi_year)] = new_row
    #print(new_row)
    #print(multi_year)

    plt.bar(multi_year.columns, new_row)
    plt.xlabel('Year')
    plt.ylabel('Popularity')

    plt.show()

    return (multi_year)

In [699]:
time = 1
abc =   year_pred(15,'Wilfred Jackson')
abc.head()

   release_year           0    1          2         3         4         5
0          2021   66.392330  0.0  80.892601  0.421097  0.592408 -0.024867
1          2022  103.346479  0.0  87.542034  0.822201  0.853638 -0.241408
2          2023   36.338608  0.0  53.675110  0.497109  0.373859 -0.079752
3          2024   13.763966  0.0  42.849819  0.092907  0.159977 -0.166830
4          2025   19.471213  0.0  12.231372  0.733849  0.606536 -0.344513

In [700]:
xyz = pred_years(abc)


print(xyz )

NameError: name 'result_df' is not defined