In [51]:
import pandas as pd
credits = pd.read_csv('credits.csv')
titles = pd.read_csv('titles.csv')

In [52]:
titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],NaN,tt0039628,7.9,50969.0,23.515,7.388
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500
2,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],NaN,tt0042332,7.3,164292.0,93.547,7.035
3,tm87946,Dumbo,MOVIE,Dumbo is a baby elephant born with over-sized ...,1941,G,64,"['animation', 'drama', 'family', 'fantasy']",['US'],NaN,tt0033563,7.2,135045.0,54.265,6.999
4,tm74391,Fantasia,MOVIE,Walt Disney's timeless masterpiece is an extra...,1941,G,119,"['animation', 'family', 'fantasy', 'music']",['US'],NaN,tt0032455,7.7,98764.0,43.609,7.382

In [53]:
credits.head()

   person_id       id            name         character   role
0      35549  tm89464  Maureen O'Hara      Doris Walker  ACTOR
1      57832  tm89464      John Payne       Fred Gailey  ACTOR
2      57833  tm89464    Edmund Gwenn      Kris Kringle  ACTOR
3      25096  tm89464    Natalie Wood      Susan Walker  ACTOR
4      27185  tm89464     Porter Hall  Granville Sawyer  ACTOR

In [54]:
set(credits.role)

{'ACTOR', 'DIRECTOR'}

In [55]:
director = credits[credits['role'] == 'DIRECTOR']

In [56]:
director = director[['id','name']]

In [57]:
director

              id                 name
65       tm89464        George Seaton
79       tm61729          James Algar
80       tm61729       Clyde Geronimi
81       tm61729          Jack Kinney
105      tm61052      Wilfred Jackson
...          ...                  ...
30674  tm1314337       Brendan Walter
30675  tm1314337       Jacob Bixenman
30680  tm1299578  William Pinkney III
30687  tm1075680         Kevin Bachar
30688  tm1227149          Adam Geiger

[1567 rows x 2 columns]

In [58]:
merged = pd.merge(titles, director, on = 'id')

In [59]:
merged = merged.rename(columns={'name': 'director'})

In [60]:
merged

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],NaN,tt0039628,7.9,50969.0,23.515,7.388,George Seaton
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,James Algar
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],NaN,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],NaN,tt27001634,NaN,NaN,10.543,10.000,Brendan Walter
1563,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],NaN,tt27001634,NaN,NaN,10.543,10.000,Jacob Bixenman
1564,tm1299578,Black Travel Across America,MOVIE,"Travel Consultant, Martinique Lewis, embarks o...",2023,PG,44,['documentation'],['US'],NaN,NaN,NaN,NaN,5.600,NaN,William Pinkney III
1565,tm1075680,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN,Kevin Bachar
1566,tm1227149,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],NaN,tt21271008,6.3,19.0,1.501,2.000,Adam Geiger

In [61]:
print(merged.type.unique())
print('\n')
print(merged.production_countries.unique())
print('\n')

['MOVIE' 'SHOW']


["['US']" "['GB', 'US']" "['US', 'GB']" "['CA', 'US']" "['CA']" '[]'
 "['US', 'CA']" "['FR']" "['SE', 'US', 'NO']" "['AU', 'CA', 'FR', 'US']"
 "['SK', 'US']" "['US', 'AT']" "['US', 'NZ']" "['AU', 'US']"
 "['FR', 'US']" "['CA', 'US', 'AU']" "['GB', 'US', 'DE']"
 "['ES', 'CH', 'US', 'FR', 'MC']" "['US', 'DE']" "['GB', 'BE', 'FR']"
 "['PL', 'SI', 'US', 'CZ']" "['US', 'AU']" "['AU']"
 "['GB', 'US', 'DE', 'IE']" "['US', 'IN']" "['JP', 'US']" "['IN', 'US']"
 "['CN', 'HK', 'US']" "['CN']" "['BR', 'US']" "['NZ', 'US']" "['GB']"
 "['DE', 'GB']" "['AR']" "['CI', 'UG', 'US']" "['NL']" "['US', 'FR']"
 "['AE']" "['AU', 'GB']" "['GB', 'US', 'AU']" "['DE']"
 "['US', 'BE', 'GB']" "['US', 'GB', 'DE']" "['ES', 'AR', 'IT']"
 "['CN', 'GB', 'US']" "['IT']" "['US', 'MX']" "['DE', 'US']" "['KR']"
 "['JP']" "['NZ']" "['CL']" "['CA', 'DK', 'US']" "['US', 'CN']" "['AT']"
 "['GB', 'ZA', 'DE', 'US', 'FR']" "['AR', 'BR']"
 "['US', 'CA', 'CN', 'FR', 'JP']" "['US', 'KI']" "['GB', 'FR']" "['PH']"
 "['IN']" "['BW']" "['FR', 'DE', 'IT', 'GB', 'US', 'AU']" "['ES']"
 "['GR']" "['GB', 'IT']" "['BR', 'CA', 'DK', 'US']" "['TW']"
 "['MX', 'US', 'JP']" "['DK', 'US', 'CA']" "['BR']" "['TR']"
 "['KR', 'US']" "['ES', 'CO']"]

In [62]:
print(merged['director'].value_counts)
print('\n')

<bound method IndexOpsMixin.value_counts of 0             George Seaton
1               James Algar
2            Clyde Geronimi
3               Jack Kinney
4           Wilfred Jackson
               ...
1562         Brendan Walter
1563         Jacob Bixenman
1564    William Pinkney III
1565           Kevin Bachar
1566            Adam Geiger
Name: director, Length: 1567, dtype: object>

In [63]:
print(merged.director.value_counts(normalize = True))
print('\n')

Wilfred Jackson        0.014040
John Lasseter          0.010849
Jack Hannah            0.010849
Paul Hoen              0.010211
Clyde Geronimi         0.009572
                         ...
Manny Coto             0.000638
Bruce W. Smith         0.000638
Eric Bross             0.000638
Michael Lange          0.000638
William Pinkney III    0.000638
Name: director, Length: 899, dtype: float64

In [64]:
#replace null values in the seasons column with 0
print(merged.seasons.unique())

[nan  6.  3.  1.  2.  4.]

In [65]:
merged.loc[merged['seasons'].isnull(), 'seasons'] = 0


print(merged.seasons.unique())

print(merged.seasons.value_counts())

[0. 6. 3. 1. 2. 4.]
0.0    1475
1.0      66
3.0      12
2.0      10
6.0       2
4.0       2
Name: seasons, dtype: int64

In [66]:
merged.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],0.0,tt0039628,7.9,50969.0,23.515,7.388,George Seaton
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,James Algar
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],0.0,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson

In [67]:
print(merged.age_certification.unique())

print(merged.title.unique())

['G' nan 'PG' 'PG-13' 'TV-G' 'TV-Y7' 'TV-Y' 'TV-PG' 'R' 'TV-14']
['Miracle on 34th Street' 'The Adventures of Ichabod and Mr. Toad'
 'Cinderella' ... 'Black Travel Across America'
 "World's Most Dangerous Shark?" 'Baby Sharks']

In [68]:
merged.loc[merged['age_certification'].isnull(), 'age_certification'] = 'UNRATED'

print(merged.age_certification.unique())

['G' 'UNRATED' 'PG' 'PG-13' 'TV-G' 'TV-Y7' 'TV-Y' 'TV-PG' 'R' 'TV-14']

In [69]:
print(merged.tmdb_score.unique())
print('\n', merged.tmdb_score.isnull().sum())

[ 7.388  6.5    7.035  6.999  7.382  7.004  7.11   6.686  6.567  6.733
  7.1    6.713  6.377  6.7    5.876  6.341  6.269  6.846  7.3    7.32
  6.568  6.952  6.489  7.351  7.208  6.3    6.563  6.158  6.81   6.4
  7.     6.583  6.636  6.25   7.298  6.227  6.464  6.012  6.9    6.393
  6.783  6.35   6.1    6.429  6.789  6.559  6.34   6.61   6.982  6.22
  6.283  6.541  7.034  6.811  6.128  5.4    5.927  6.718  5.924  6.382
  5.99   5.955  6.8    6.682  6.     6.821  6.2    8.207  7.706  8.393
  7.569  6.847  7.133  7.008  7.28   6.6    5.813  6.178  6.146  7.166
  7.104  7.225  7.2    6.907  6.029  7.29   5.9    6.364  7.065  7.6
  6.65   6.524  6.581  7.112  6.423  6.533  8.5    5.241  5.967  5.732
  6.475  6.676  6.925  5.655  7.19   6.177  5.6    7.4    6.538  5.81
  6.515  5.2    6.738  6.607  6.522  7.7    7.352  5.778  6.421  8.
  6.714 10.     8.2    4.     9.     7.5    7.403  7.51   7.038  7.89
  7.663  6.71   6.917  6.868  6.254  6.274  6.47   6.805  5.3    6.185
  5.799  7.142  5.8    6.948  5.316  6.575  7.068  7.085  6.191  5.7
  7.56   7.371  7.839  6.947  7.062  6.865  6.451  6.446  8.258  6.551
  7.605  7.966  6.18   7.583  5.284  6.234  7.016  7.74   7.918  6.951
  7.546  7.645  6.565  7.398  7.508  5.69   6.934  6.964  6.822  5.445
  7.731  6.155  6.381  5.896  6.976  5.932  6.066  5.635  5.753  5.283
  6.263  6.201  6.476  7.492  5.1    6.528  4.183  6.38   6.195  5.531
  5.477  5.476  4.456  7.721  5.97   5.87   4.439  4.953  4.9    7.418
  6.243  6.437  5.688  4.8    6.654  5.342  5.446  5.68   6.27   6.019
  7.059  4.4    5.5    5.513  5.867  6.456  5.519  7.38   7.567  8.07
  7.783  6.595  7.795  7.943  7.632  6.802  7.075  7.827  7.119  5.919
  7.824  5.484  6.829  6.306  7.424  6.302  6.939  5.586  6.831  7.337
  7.526  6.439  6.403  7.228  7.237  5.771  7.8    6.199  7.34   6.87
  5.623  6.995  6.672  4.474  5.178  7.022  7.501  6.315  6.617  6.115
  6.482  6.273  6.256  6.573  6.136  6.129  6.241  4.09   5.447  6.169
  7.242  6.12   6.441  6.113  6.53   6.317  6.74   7.236  6.484  5.564
  5.365  5.537  5.472  6.649  6.372  7.02   6.753  5.471  7.254  6.691
  8.1    6.662  6.984  4.413  6.058  6.715  5.906  5.767  5.645  6.398
  7.017  6.194  6.788  7.561  7.729  6.744  5.602  6.605  6.304  6.499
  6.546  7.523  6.58   6.49   6.068  6.89   6.531  5.354  6.104  6.255
  6.231  6.002  6.386  6.33   7.833  5.811  5.728  5.935  6.192  7.284
  5.179  6.264  5.742  5.73   5.288  5.983  5.642  6.122  5.971  4.988
  3.6    6.542    nan  7.707  6.739  6.938  6.767  6.988  6.268  7.557
  5.963  7.006  6.653  6.047  6.494  6.28   6.902  8.173  5.847  5.827
  8.006  6.665  7.379  7.167  6.935  6.648  6.039  6.586  6.21   6.968
  7.459  7.866  6.056  6.131  6.153  6.15   6.919  7.003  8.3    7.9
  6.391  7.677  7.25   6.927  7.206  7.741  7.276  7.028  8.545  7.347
  6.885  7.043  7.353  6.933  6.465  6.769  8.057  7.602  7.01   6.804
  7.084  7.925  7.746  7.565  7.438  7.281  7.311  4.414  7.522  7.253
  7.044  6.857  6.741  7.056  7.697  6.516  6.024  8.172  7.937  8.4
  7.149  8.167  5.     8.7    7.815  7.393  7.494  7.601  8.225  6.077
  7.862  7.914  8.6    7.491  6.646  7.214  5.102  7.03   7.333  7.584
  7.639  8.188  8.268  8.233  8.161  6.871  7.669  8.232  7.752  7.131
  2.     6.658  8.299  6.396  6.918  7.345  7.779  7.652  7.297  6.884
  6.661  7.215  4.5    8.036  7.285  9.5    7.229  6.895  7.49   7.589
  6.625  6.875  7.401  7.487  6.94   6.51   7.324  7.873  7.578  7.132
  7.362  7.07   6.75   6.987  7.545  7.651  7.464  7.69   5.011  7.257
  7.121  7.936  6.463  3.8    5.167  3.1    7.343  7.221  6.287  6.711
  6.053  7.876  7.219  5.75   7.656  7.81   4.7    6.983  5.818  7.313
  7.512  6.438  9.2    5.389  8.227  6.913  4.75   4.3    4.6  ]

 46

In [70]:
for index,value in merged['tmdb_score'].items():
    if pd.isnull(value):
        merged = merged.drop(index)

In [71]:
print('\n', merged.tmdb_score.isnull().sum())

 0

In [72]:
merged

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],0.0,tt0039628,7.9,50969.0,23.515,7.388,George Seaton
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,James Algar
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],0.0,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,tm1304158,Soul of a Nation Presents: Black in Vegas,MOVIE,This special explores the history of Black ent...,2023,PG-13,41,['documentation'],['US'],0.0,NaN,NaN,NaN,2.954,2.000,Tine
1561,tm24952,Whispers: An Elephant's Tale,MOVIE,A nameless baby elephant-steer was just gettin...,2023,G,72,"['drama', 'family']",['US'],0.0,tt0185007,5.0,390.0,4.271,4.600,Dereck Joubert
1562,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],0.0,tt27001634,NaN,NaN,10.543,10.000,Brendan Walter
1563,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],0.0,tt27001634,NaN,NaN,10.543,10.000,Jacob Bixenman
1566,tm1227149,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],0.0,tt21271008,6.3,19.0,1.501,2.000,Adam Geiger

In [73]:
print(merged.release_year.unique())

[1947 1950 1941 1942 1938 1935 1937 1940 1948 1943 1945 1933 1928 1934
 1932 1939 1936 1949 1946 1944 1977 1965 1980 1971 1964 1979 1960 1953
 1969 1967 1956 1973 1961 1955 1963 1970 1951 1962 1966 1974 1975 1978
 1957 1958 1976 1968 1952 1959 1954 1972 1987 1988 1990 1983 1985 1989
 1986 1982 1984 1981 1999 1998 1993 1995 1994 1992 1991 1996 2000 1997
 2009 2008 2003 2004 2007 2001 2005 2006 2002 2010 2012 2011 2014 2013
 2016 2015 2017 2018 2019 2020 2022 2021 2023]

In [74]:
print(merged.age_certification.unique())

def rate(x):
    if x == 'UNRATED':
        return 0
    elif x == 'G':
        return 1
    elif x == 'PG':
        return 2
    elif x == 'PG-13':
        return 3
    elif x == 'R':
        return 4
    elif x == 'TV-G':
        return 5
    elif x == 'TV-Y7':
        return 6
    elif x == 'TV-Y':
        return 7
    elif x == 'TV-PG':
        return 8
    return 9


merged['age_rating'] = merged['age_certification'].apply(rate)

['G' 'UNRATED' 'PG' 'PG-13' 'TV-G' 'TV-Y7' 'TV-Y' 'TV-PG' 'R' 'TV-14']

In [75]:
merged

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,director,age_rating
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],0.0,tt0039628,7.9,50969.0,23.515,7.388,George Seaton,1
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,James Algar,1
2,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Clyde Geronimi,1
3,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],0.0,tt0041094,6.9,16502.0,16.194,6.500,Jack Kinney,1
4,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],0.0,tt0042332,7.3,164292.0,93.547,7.035,Wilfred Jackson,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1560,tm1304158,Soul of a Nation Presents: Black in Vegas,MOVIE,This special explores the history of Black ent...,2023,PG-13,41,['documentation'],['US'],0.0,NaN,NaN,NaN,2.954,2.000,Tine,3
1561,tm24952,Whispers: An Elephant's Tale,MOVIE,A nameless baby elephant-steer was just gettin...,2023,G,72,"['drama', 'family']",['US'],0.0,tt0185007,5.0,390.0,4.271,4.600,Dereck Joubert,1
1562,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],0.0,tt27001634,NaN,NaN,10.543,10.000,Brendan Walter,3
1563,tm1314337,Miley Cyrus – Endless Summer Vacation (Backyar...,MOVIE,"Miley Cyrus takes the stage in this must-see, ...",2023,PG-13,42,"['music', 'documentation']",['US'],0.0,tt27001634,NaN,NaN,10.543,10.000,Jacob Bixenman,3
1566,tm1227149,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],0.0,tt21271008,6.3,19.0,1.501,2.000,Adam Geiger,2

In [76]:
#The data is now cleaned up. Next is to predict the rising star directors
#each year 100 individuals have the highest tmdb score and produce the most popular works on tmdb
#using KNN, Multilinear Regression, and random forest

In [77]:
#Linear Regression - Independent variables are Year, Runtime, Seasons, rating, tmdb_popularity
#the dependent variable is tmdb_score

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
from dmba import plotDecisionTree
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np


X = merged[['release_year','runtime','seasons','tmdb_popularity','age_rating']]
y = merged['tmdb_score']

X.head()

   release_year  runtime  seasons  tmdb_popularity  age_rating
0          1947       96      0.0           23.515           1
1          1950       68      0.0           16.194           1
2          1950       68      0.0           16.194           1
3          1950       68      0.0           16.194           1
4          1950       74      0.0           93.547           1

In [78]:
#multilinear regression

training_X, test_X, training_y, test_y = train_test_split(X,y, test_size = 0.2, random_state = 1)

regr = LinearRegression()
regr.fit(training_X, training_y) 

y_pred = regr.predict(test_X)
print(y_pred, '\n')

director = merged.loc[merged['director'] == 'George Seaton']
features = director[['release_year','runtime','seasons','tmdb_popularity','age_rating']]
mlr_pred = regr.predict(features)

mse = mean_squared_error(test_y, y_pred)
print("Mean squared error: ", mse)

print("Rating Prediction: ", mlr_pred)

[ 6.66918538  6.68065538  6.76827102  6.80910628  6.60478411  6.60850845
  6.52882974  6.64317151  6.93554863  6.50854595  6.51581018  6.68384376
  6.72042292  6.55665128  6.6848894   6.64688689  6.59496442  6.66777844
  6.51824426  6.79824815  6.66343115  6.87470401  6.72570441  6.61065847
  6.69627351  7.03996682  6.62133787  6.50942566  6.63252828  6.63839529
  6.6440473   6.55070028  6.81995335  6.5465409   6.70010398  6.70818059
  6.64707305  6.66724314  6.77426087  6.49194655  6.65125326  6.87221519
  6.74231956  6.63339834  6.47949312  6.49372801  6.63905732  6.68928553
  6.51961935  6.53533286  6.6532079   6.53068775  6.6748501   6.87470401
  6.68810034  6.5277692   6.85932145  6.62460048  6.75035417  6.6367669
  6.79717051  6.62214633  6.5093365   6.71899416  6.67571728  6.65943807
  6.50398162  6.54996942  6.77789896  6.76054776  6.66756885  6.65510139
  6.50283323  6.73365861  6.64880087  6.77035358  6.49947998  6.67046431
  6.51066664  6.48564288  6.70160014  6.63752508  6.63931626  7.16961138
  6.80134129  6.46317745  6.64872427  6.75715741  6.70682018  6.46140095
  6.66984992  6.64912228  6.6535892   6.63206905  6.60665956  6.51698189
  6.56825889  6.54996942  6.76169797  6.66581439  6.57694669  7.65138055
  6.49351187  6.70556105  6.80134129  6.64654339  6.70690826  6.5103127
  6.6727979   6.53554712  6.66881165  6.64645328  6.67268613  6.5644419
  6.70673996  6.98223402  6.76519997  6.72943322  6.72187169  6.64915759
  6.51081857  6.67242733  6.82645853  6.8856427   6.73928823  6.78555864
  6.53832599  6.67683407  6.60238748  6.50450228  6.54080037  6.68771237
  6.62715585  6.52831463 11.36530609  6.62974192  6.51790965  6.68665376
  6.50214386  6.64551869  6.63711882  6.56826483  6.67952848  6.91745904
  6.59673317  6.54644638  6.48816261  6.50539441  6.65733082  6.66079809
  6.76156628  6.75494686  6.64469282  6.64353571  6.75260464  6.54333217
  6.54869908  6.6551355   6.51980647  6.91415212  6.66490293  6.73928823
  6.69192115  6.62754102  6.64302385  6.63752508  6.66652486  6.61756418
  7.01333738  6.64319363  6.76519997  6.645227    6.82474524  6.67657966
  6.50553989  6.74255217  6.54076369  6.65967841  6.63451772  6.55561671
  6.56936449  6.77035358  6.53370188  6.47860168  6.64936267  6.65991209
  7.01801433  6.48449005  6.66888434  6.72849681  6.63257522  6.7914564
  6.59151692  6.63084197  6.58435879  6.54682493  6.8993718   6.67006454
  6.56200421  6.82771006  6.48171975  6.69684413  6.51691361  6.72483413
  6.58615122  6.64537496  6.7031565   6.6749302   6.58126491  6.83296659
  6.71946339  6.66521869  6.88348683  6.64620292  6.72560451  6.80217666
  6.46540986  6.71858258  6.84894354  6.68447572  6.66801115  6.69395748
  6.69839967  6.71824856  6.68599899  6.77179056  6.51620232  6.9028692
  7.93924769  6.6679985   6.85378139  6.74259559  6.66917236  6.64700944
  6.62757298  6.65493982  6.49730316  6.64692579  6.8444352   6.60974842
  6.71222458  6.90573412  6.65024064  6.58886297  6.52870531  6.67653351
  6.63870594  6.84856528  6.82732984  6.58873909  6.80586013  6.57340244
  6.68336259  6.64889154  6.69696071  6.63187948  6.77027961  6.85366855
  6.66896162  6.53467689  6.69647649  6.63744687  6.68451027  6.72340128
  6.77179056  6.74258448  6.57523499  6.55905104  6.7057075   6.613546
  6.50220125  6.64251311  6.65320495  6.82269974  6.62757298  6.68110283
  6.65018187  7.12913454  6.81834611  6.60168259  6.49194655  6.64333033
  6.60633351  6.61127173  6.47878688  6.60679     6.65017193  6.59278486
  6.52321626  6.58925025  6.7106719   6.71344966  6.7353285   6.80069125
  6.60319157  6.58925025  6.78771016  6.90294584  6.47775034  6.67802113
  6.65329119  6.64507443  6.61644517  6.62204216  6.50684394]

Mean squared error:  0.9313471999678116
Rating Prediction:  [6.82279582]

In [79]:
director2 = merged.loc[merged['director'] == 'James Algar']

features2 = director2[['release_year','runtime','seasons','tmdb_popularity','age_rating']]
mlr_pred2 = regr.predict(features2)

print("Rating Prediction: ", mlr_pred2)

Rating Prediction:  [6.75494686 6.91745904 6.67350418 6.7260119  6.72334852 6.69340665
 6.71852236 6.71181387 6.67195868 6.65943807 6.6648432  6.64507443]

In [80]:
director2 = merged.loc[merged['director'] == 'Wilfred Jackson']
features2 = director2[['release_year','runtime','seasons','tmdb_popularity','age_rating']]

print(features2)
mlr_pred2 = regr.predict(features2)

print("Rating Prediction: ", mlr_pred2)

     release_year  runtime  seasons  tmdb_popularity  age_rating
4            1950       74      0.0           93.547           1
10           1941       64      0.0           54.265           1
18           1941      119      0.0           43.609           1
27           1935        9      0.0            9.286           0
31           1940       88      0.0           44.545           1
48           1943       41      0.0           17.765           0
56           1948       75      0.0           12.425           0
63           1932        7      0.0            8.984           0
68           1934        8      0.0            6.795           0
70           1937        9      0.0            6.723           0
71           1935        9      0.0            6.498           0
79           1934        8      0.0            5.506           0
88           1936        8      0.0            4.781           0
97           1936        7      0.0            4.366           0
110          1933        8      0.0            3.301           0
112          1934        9      0.0            3.241           0
114          1936        8      0.0            3.126           1
152          1955       77      0.0           47.793           1
153          1953       76      0.0           59.426           1
170          1951       75      0.0           60.266           1
241          1955       49      0.0            1.513           1
257          1955       55      0.0            0.678           0
Rating Prediction:  [6.93224504 6.85246989 6.91745904 6.68867547 6.87221519 6.73928823
 6.77027961 6.69195018 6.68405132 6.67836421 6.68263155 6.68125698
 6.6749302  6.67242892 6.67885446 6.67794847 6.66380562 6.82597512
 6.854347   6.85932145 6.68080219 6.69613864]

In [83]:
#get the average age rating, season, runtime, and popularity
def mean_stats(df):
    di_age = df.age_rating.mean()
    di_pop = df.tmdb_popularity.mean()
    di_seas = df.seasons.mean()
    di_run = df.runtime.mean()
    di_list = [di_run, di_seas, di_pop, di_age]
    return di_list

director2 = merged.loc[merged['director'] == 'Wilfred Jackson']
X = mean_stats(director2)

print(X)
print(X[0])
years = pd.DataFrame({'release_year': [2021, 2022, 2023, 2024, 2025],
                      'runtime': [X[0], X[0],X[0], X[0],X[0]],
                      'seasons': [X[1], X[1],X[1], X[1],X[1]],
                      'tmdb_popularity': [round(X[2]), round(X[2]),round(X[2]), round(X[2]),round(X[2])],
                      'age_rating': [round(X[3]), round(X[3]),round(X[3]),round(X[3]),round(X[3])],
                      })

years.head()

mlr_pred2 = regr.predict(years)

five_year = pd.DataFrame(columns =['release_year','runtime','seasons','tmdb_popularity','age_rating'] )
new_row = np.array(mlr_pred2)
five_year.loc[len(five_year)] = new_row

print(five_year)

[40.13636363636363, 0.0, 22.65631818181818, 0.4090909090909091]
40.13636363636363
   release_year   runtime   seasons  tmdb_popularity  age_rating
0      6.563805  6.561427  6.559049         6.556672    6.554294

In [84]:
five_year

   release_year   runtime   seasons  tmdb_popularity  age_rating
0      6.563805  6.561427  6.559049         6.556672    6.554294